 body{
                margin: 30px 200px;
                align-self: center;
            }


            table{
             
               
                width: auto;
                margin-top: 20px;
               
            }


            img{
                width: 220px;
            }



#imagen {
    text-align: center;
    margin-left: 450px;
    border: solid;
    width: 310px;
    color: black;
    background-color:lightskyblue;
}
             
           
           


            #anterior{
margin-left: 450px;
border-radius: 60px;
color: red;
            }


            #inicio{
                margin-left: 55px;  
                border-radius: 60px;
                color: red;
            }



            #siguiente{
                margin-left: 60px;  
                border-radius: 60px;
                color: red;
            }


            #parrafo{
                text-align: center;
            }